$font-family: 'freight-sans-pro', 'Helvetica Neue', Helvetica, sans-serif !default;
$body-font-size: 110% !default;
$body-font-weight: 300 !default;
$body-letter-spacing: 0.025rem !default;
$heading-font-weight: 600 !default;
$light-font-weight: 300 !default;
$bold-font-weight: 600 !default;
$h00: 4.5rem !default;
$h0: 3.5rem !default;
$h1: 2.5rem !default;
$h2: 1.8rem !default;
$h3: 1.5rem !default;
$h4: 1.25rem !default;
$h5: 1rem !default;
$h6: .875rem !default;
$space-1: .5rem !default;

$lighten-1: rgba(255,255,255,.0625) !default;
$lighten-2: rgba(255,255,255,.125) !default;
$lighten-3: rgba(255,255,255,.25) !default;
$lighten-4: rgba(255,255,255,.5) !default;

$container-width: 60em !default;
$container-width-sm: 45em !default;

$button-font-weight: 400 !default;
$button-border-radius: 0 !default;
$button-background-color: #E8443B !default;
$button-padding-y: .8rem !default;
$button-padding-x: 1.1rem !default;
$button-sm-padding-y: .25rem !default;
$button-sm-padding-x: .5rem !default;
$button-lg-padding-y: 1rem !default;
$button-lg-padding-x: 1.25rem !default;
$button-narrow-padding-x: $space-1 !default;
$button-font-letter-spacing: 1px !default;
