.field {
	border-width: $form-field-border-width;
	border-color: transparent;
	border-radius: $form-field-border-radius;
	height: $form-field-height;
}

.field:focus,
.field.is-focused {
  outline: none;
  border-color: $field-focus-color;
  box-shadow: 0 0 0 1px color($field-focus-color a(.5));
}

.label {
	display: block;
	font-size: $label-font-size;
	color: $label-font-color;
	font-weight: $label-font-weight;
	margin-bottom: 0.3rem;
}