<div class="container">
	<div class="clearfix">

		<div class="sm-col-10 md-col-6 mx-auto center px2">
	
			<h1 class="mt1 mb2">Import from Anki</h1>

			<div class="mb3">If you upload multiple files, it will merge them and input it into this collection. If you want to upload each text file to have its own collection, upload one file at a time.</div>

			<form name="import.importForm" 
						ng-submit="import.importTextfile(import.importForm.$valid, import.formData)"
						novalidate>

				<div class="mb1 bold">Anki text file (i.e. anki-collection-2015.txt)</div>
				<input name="collectionTitle" type="text" ng-model="import.formData.collectionTitle" class="field col-12" placeholder="{{ import.placeholder.collectionTitle }}" required>

				<div class="mb1 bold">Anki text file (i.e. anki-collection-2015.txt)</div>
				<input name="files" type="file" multiple="multiple" accept=".txt" ng-model="import.formData.files" class="field col-12" placeholder="{{ import.placeholder.files }}" required>

				<!-- submit button -->
				<button type="submit" class="btn btn-primary mt2 mb2" ng-disabled="import.btnState.success || import.btnState.loading">
					<span ng-if="!import.btnState.loading && !import.btnState.success">Import<span class="ti-plus ml1"></span></span>
					<span ng-if="import.btnState.loading"><spinner width="16px"></spinner>Please wait...</span>
					<span ng-if="import.btnState.success"><span class="ti-check mr1"></span>Success!</span>
				</button>
				<!-- end: submit button -->

			</form>

			<button class="btn btn-blue-outline" ng-click="logout.logout()">Yes, log me out</button>&nbsp;&nbsp;
			<button class="btn btn-primary" ng-click="logout.goBack()">No, send me back</button>

		</div>

	</div>
</div><h2>import</h2>
<p>{{import.ctrlName}}</p>